.container-playground {
  height: inherit;
}

body {
  font-family: arial;
}

.paragraph {
  padding: 5px;
  margin-top: 10px;
  word-wrap: break;
  background-color: #359b9a;
  height: 30%;
  margin-bottom: 10px;
  font-size: 25px;
}

.paragraph-textarea {
  width: 100%;
  height: 30%;
}
textarea {
  word-wrap: break;
  resize: none;
  background-color: #359b9a;
  height: 30%;
}

.match-label {
  color: white;
  width: inherit;
  text-align: center;
  font-size: 30px;
  background-color: #356176;
}

.textarea-input {
  margin-top: 15px;
  width: 100%;
  height: 30%;
  background-color: #344463;
  color: white;
}

#player1 {
  color: #00f6b5;
}

#both {
  color: #dea4c3;
}
#player2 {
  color: #cbe14f;
}
