.main {
  position: absolute; /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #29293a;
}

.header {
  color: white;
  font-size: 5vw;
  text-align: center;
  margin-top: 5%;
}
.banner {
  background-color: #41836e;
  height: 250px;
}

.container-form {
  height: inherit !important;
}
.row-form {
  width: inherit !important;
  justify-content: center;
}
